<div class="container">
  <header class="header">
    <h2>Book an appointment</h2>
    <h5>Our Investing topics</h5>
    <h4>Pick a topic, then we'll find a time and place</h4>
  </header>

  <div class="row btn-group-xs btn-group-md btn-group-horizontal custom-tdtheme">
      <button class="btn btn-default col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-offset-1 col-xs-10" 
        type="button" *ngFor="let buttonObj of buttonArr">{{buttonObj.text}}</button>
  </div>
  <footer class="footer">
    <nav>
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <a class="greentheme">Return to previous screen</a>
      </nav>
  </footer>
</div>

