.custom-tdtheme{    
    .btn{
        color:green; 
        height:auto;   
        text-align:center;
        text-align: -webkit-center;    
        border-radius: 10px;
        font-size: 1.7rem;
        border: 1px solid green; 
    }
}

.row{
    [class*='col-'] {
        display: flex;
        flex-direction: column;
        line-height: 7rem;
        margin-bottom: 0rem;
        margin-top: 2rem;
      }
}

.header *{
    display:flex;
    justify-content:center;
    color:rgba(0,0,0,0.6);
}

.footer{
    color:green;
    display:flex;    
    position: relative;
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
}

.greentheme
{
    color:green;
}

.singleButton{
        display:flex;
        justify-content: center;
}